* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {

  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
}

button {
  cursor: pointer;
}

.particles {
  z-index: -999;
}

.content {
  z-index: 4;
}